<% provide(:title, @user.first_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= gravatar_for @user %>
      <%= @user.first_name %>
    </section>
  </aside>
</div>
<h1> <%= @user.first_name %> <%= @user.last_name %>, <%= @user.email %></h1>

<ul>
<% @user.posts.each do |post| %>
  <li><h1> <%= post.title %></h1></li>
  <li> <%= post.body %></li>
  <% if current_user == post.user %>
  <li><%= link_to "Edit Post", edit_post_path(post) %>
  <% end %>
<% end %>
</ul>
<br>
<br>
<% if @user == current_user %>
<li><%= link_to "Create Post", new_post_path%>
<% end %>
