  <% provide(:title, @user.first_name) %>
  <!-- Page Header - user's profile info  -->
  <header class="masthead" id="profilepage">
  <%= render 'shared/navigationbar' %>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <%= render 'shared/alerts' %>
          <div class="site-heading" id="profile-heading">
            <%= gravatar_image_tag('@user.email', :alt => '@user.first_name',
            :class => "img-circle")%>
            <h2><%= @user.first_name %> <%= @user.last_name %></h2>
            <h3><%= @user.email %></h3>
            <% if @user == current_user %>
              <button class="btn btn-primary"><%= link_to "Create Post", new_post_path, id:"createpost-link"%></button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content - user's post info  -->
  <div class="container">
    <div class="row">
    <% @user.posts.each do |post| %>
      <div class="media">
        <div class="media-left media-middle">
          <img src="<%= post.image %>" alt="" width="450" height="280">
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= link_to post.title, post_path(post.id), class:"post-preview"%></h4>
          <p><%= post.body %></p>
          <% if current_user == post.user %>
          <div class="parent">
            <%= link_to "Edit Post", edit_post_path(post), class:"btn btn-primary edit_button" %></button>
            <%= link_to 'Delete Post', post, :method => :delete, confirm: "Are you sure?", class:"btn btn-danger delete_button"%>
          </div>
          <%end %>
        </div>
      </div>
    </div>
    <%end %>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-lg-11">
        <%= link_to "Back to Posts ", root_path, class:"btn btn-primary backtoposts" %>
      </div>
    </div>
  </div>
  <hr>

  <!-- Footer  -->
  <%= render 'shared/footer' %>
