<% provide(:title, @user.first_name) %>

<h1><%= gravatar_image_tag('@user.email', :alt => '@user.first_name')%>
    <%= @user.first_name %> <%= @user.last_name %></h1>

<h2><%= @user.email %></h2>

<ul>
<% @user.posts.each do |post| %>
  <li><h1> <%= post.title %></h1></li>
  <li> <%= post.body %></li>
  <% if current_user == post.user %>
  <li><%= link_to "Edit Post", edit_post_path(post) %>
  <li><%= link_to 'Delete Post', post, :method => :delete, confirm: "Are you sure?"%></li>
  <% end %>
<% end %>
</ul>
<br>
<br>
<% if @user == current_user %>
<li><%= link_to "Create Post", new_post_path%>
<% end %>
