  <!-- Page Header -->
  <% if logged_in? %>
  <header class="masthead" id="mainhead_background-signedin">
  <%= render 'shared/navigationbar' %>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <%= render 'shared/alerts' %>
          <div class="site-heading">
            <h1>Inside Out</h1>
            <span class="subheading">Your go to for everything beauty, food, and health!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Posts -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% @posts.each do |post| %>
        <div class="post-preview">
          <h2 class="post-title">
            <%= link_to post.title, post_path(post.id), class:"post-preview"%>
          </h2>
          <p class="post-meta">Posted by
            <%= link_to post.user.first_name, user_path(post.user.id), class:"col" %>
          </p>
        </div>
        <hr>
        <%end %>
      </div>
    </div>
  </div>

  <!-- back to top  -->
  <div class="container">
    <div class="row">
      <div class="col-lg-11">
        <%= link_to "Back to Top ", root_path, class:"btn btn-primary backtoposts" %>
      </div>
    </div>
  </div>
  <hr>


  <!-- footer -->
  <%= render 'shared/footer' %>

  <% else %>
  <header class="masthead mainpage-heading" id="mainhead_background">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <%= render 'shared/alerts' %>
          <div class="site-heading">
            <h1>Inside Out</h1>
            <span class="subheading">Your go to for everything beauty, food, and health!</span>
            <div id="main-buttons">
              <%= link_to "About",about_path, class:"btn btn-mainpage"%>
              <%= link_to "Log in", login_path, class:"btn btn-mainpage"%>
              <%= link_to "Sign up", signup_path, class:"btn btn-mainpage"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <% end %>
