<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Inside Out</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'styles' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
    <script>
      setTimeout("$('#flash_notice').fadeOut('slow')", 3000)
      setTimeout("$('#flash_errors').fadeOut('slow')", 3000)
    </script>
  </body>
</html>
